server:
  port: 8081
spring:
  thymeleaf:
    cache: false
  security:
    user:
      name: user
      password: password
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost/event}
    username: "postgres"
    password: "docker"
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: false
    generate-ddl: true
    hibernate:
      ddl-auto: 'create-drop'


logging:
  file:
    name: push-notifications



